# Created by .ignore support plugin (hsz.mobi)
### Java template
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.gitignore
.idea/.gitignore
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml

Blocko.iml
out/

# Image assets, audio, etc.
!/src/on8.gif
!/src/ctm.gif
!/src/loadl.gif
!/src/score.wav
!/src/ui_click.wav
!/src/retro_scoretext.gif
!/src/scores.gif
!/src/retroBox1.png
!/src/settingsg1.gif
!/src/block1.gif
!/src/startg.gif
!/src/rn8.gif
!/src/scoresText.gif
!/src/startgif.gif
!/src/levelSelect.gif
!/src/origBox.png
!/src/m.gif
!/src/block5.gif
!/src/b1.gif
!/src/t0.gif
!/src/on6.gif
!/src/leftArrow.gif
!/src/retro_leveltext.gif
!/src/t2.gif
!/src/block3.gif
!/src/retro_nexttext.gif
!/src/options.gif
!/src/rn6.gif
!/src/Blocko_title.wav
!/src/black.gif
!/src/t3.gif
!/src/tutorialg1.gif
!/src/blackt2.png
!/src/rn5.gif
!/src/origiBox1.png
!/src/retro_border.gif
!/src/leftArrowg.gif
!/src/on4.gif
!/src/rn3.gif
!/src/block6.gif
!/src/origChoice.wav
!/src/nextLevel.wav
!/src/on0.gif
!/src/on2.gif
!/src/b3.gif
!/src/on9.gif
!/src/rn1.gif
!/src/scorebox.gif
!/src/tutorialg.gif
!/src/block2.gif
!/src/rn0.gif
!/src/holdtext.gif
!/src/loaded.gif
!/src/rn9.gif
!/src/grid2.png
!/src/on7.gif
!/src/numBox.gif
!/src/g.gif
!/src/retro_scorebox.gif
!/src/rn7.gif
!/src/scoretext.gif
!/src/t1.gif
!/src/Blocko_game_end.wav
!/src/down.wav
!/src/block4.gif
!/src/grid1.gif
!/src/startg1.gif
!/src/retroChoice.wav
!/src/loadg1.gif
!/src/menubackground.gif
!/src/back.gif
!/src/rightArrow.gif
!/src/loadg.gif
!/src/on5.gif
!/src/press.png
!/src/retroBox.png
!/src/b4.gif
!/src/block7.gif
!/src/settingsg.gif
!/src/nexttext.gif
!/src/wCircle.gif
!/src/retro_nextbox.gif
!/src/quitg.gif
!/src/rightArrowg.gif
!/src/blackt1.png
!/src/nextbox.gif
!/src/b2.gif
!/src/rn4.gif
!/src/on3.gif
!/src/retro_holdbox.gif
!/src/colorSchemeText.gif
!/src/rn2.gif
!/src/quitg1.gif
!/src/retro_holdtext.gif
!/src/lvl1.gif
!/src/blackt.png
!/src/holdbox.gif
!/src/tutScreen.gif
!/src/on1.gif